.home_hero_bg {
  height: 90vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home_hero_bg img {
  width: 100%;
}

.home_hero_vid {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.home_grid_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vw 8vw;
  gap: 15vw;
}

.home_grid_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.home_grid_item img {
  margin: auto;
}

.home_grid_item h2 {
  font-size: 37.9px;
}

.home_grid_item p {
  padding: 0 4vw;
}
